__pycache__/
*.py[cod]
*$py.class
*.swp
*.swo
.env
.env_track
.env_virtuoso
cesrv/catalog/import/
cesrv/catalog/ssl
cesrv/catalog/ssl/*
cesrv/catalog/scripts/keys/*
cesrv/catalog/scripts/headerDepartments.json
cesrv/catalog/scripts/mobileMenu.json
cesrv/catalog/scripts/shopBlockCategories.json
cesrv/catalog/scripts/categories_map.json
cesrv/catalog/scripts/categories_slugs.json
cesrv/catalog/scripts/public_categories.json
cesrv/catalog/scripts/public_categories.ttl
cetrk/solana/.env
nginx/ssl
nginx/ssl/*
nginx/certs
nginx/certs/*
nginx/dist/*
virtuoso/proj/*
docker-compose.yml.prod
qmkt/src/api/constants.ts
qmkt/src/data/headerDepartments.json
qmkt/src/data/mobileMenu.json
qmkt/src/data/shopBlockCategories.json
qmkt/node_modules
qmkt/dist
qmkt/.nuxt
qmkt/ssl
qmkt_dev/node_modules
qmkt_dev/.nuxt/
