@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

.logo-font {
    font-family: 'Aldrich', sans-serif;
    font-size: 36px;
    padding-top: 5px;
}
.logo-font-small {
    font-family: 'Aldrich', sans-serif;
    font-size: 25px;
    padding-top: 5px;
}

